.box {
    box-sizing: border-box; /* Opera/IE 8+ */
    -moz-box-sizing: border-box; /* Firefox, autres Gecko */
    -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
 }

 html {
  height: 100%;
 }

 body {
  max-height: 100%;
 }

 @font-face {
    font-family: "Raleway";
    src: url(Raleway-Regular.ttf);
 }

 @font-face {
    font-family: "Raleway-bold";
    src: url(Raleway-Bold.ttf);
 }

 @font-face {
    font-family: "Raleway-semi-bold";
    src: url(Raleway-SemiBold.ttf);
 }


 /* header */


 section, nav, footer{
    font-family: "Raleway";
 }

 header {
   justify-content: space-between;
   display: flex;
 }

 nav {
   display: flex;
 }

 nav a {
   font-size: 25px;
   text-decoration: none;
   color: black;
 }

 nav a:hover{
  color: #0065FC ;
 }

 .menu-item:hover {
   border-top:#0065FC solid 4px;
   
 }

 .menu-item {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 230px; 
 }

 #logo {
  padding-left: 40px;
}


 /* Barre de recherche */


#search-bar {
  display: flex;
  align-items: center;
}

form {
  border: #F2F2F2 solid 1px;
}

input {
  height: 50px;
  border: #F2F2F2 solid 1px;
  text-indent: 30px;
  width: 330px;
  height: 60px;
}

input:focus {
  outline: none;
}

.fa-location-dot {
  background-color: #F2F2F2;
  color: black;
  font-size: 25px;
  padding: 20px 25px 21px 20px;
  width: 12px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.fa-magnifying-glass {
  visibility: hidden;
}

#research {
  background-color: #0065FC;
  padding: 22px;
  color: white;
  font-weight: bold;
  border-bottom-right-radius: 16px;
  border-top-right-radius: 16px;
  width: 110px;
  text-align: center;
  font-size: larger;
  position: relative;
  right: 5px;
}

section input {
  font-size: 25px;
  font-family: Raleway-Bold;
}


/* Filtres */


#filters-choice {
  display: flex;
  margin-top: 40px;
}

#filters {
  display: flex;
  align-items: center;
  font-family: Raleway-Bold;
  flex-wrap: wrap;
}

#filter-1, #filter-2, #filter-3, #filter-4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: #F2F2F2 3px solid;
  border-radius: 50px;
  padding-right: 10px;
  height: 50px;
  border-left-style: none;
  margin-right: 20px;
}

#filters .fa-solid {
  margin-right: 15px;
}

#filter-2 .fa-solid {
  padding: 20px 23px;
}

#filters-choice i {
  background-color: #DEEBFF;
  color: #0065FC;
  padding: 18px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  font-size: 20px;
}

#filters-choice h2 {
  margin-right: 30px;
}

#filters div:hover {
  color: white;
  background-color: #0065FC;
}

.fa-circle-info {
  color:white;
  background-color: #0065FC;
  border: #F2F2F2 3px solid;
  border-radius: 60px;
  font-size: 20px;
  margin-right: 10px;
}

#info {
  display: flex;
  align-items: baseline;
}

#first-third {
  margin-left: 40px;
}

/* Maquette pour tablette */


@media all and (min-width: 768px) and (max-width: 992px)
  {
       
    h1 + p {
    font-size: 22px;
    }

    section input {
      font-size: 30px;
      font-family: Raleway-Bold;
    }

    #filters-choice {
      flex-direction: column;
    }

    #filters {
      flex-wrap: wrap;
      font-size: 20px;
    }

    #filters .fa-solid {
      margin-right: 15px;
    }

    #filter-2 {
      margin-right: 60px;
    }

    #filter-4 {
      margin-top: 20px;
      margin-bottom: 20px;
      width: auto;
    }

    #info {
      font-size: 22px;
      }

    #mid {
      flex-direction: column;
    }

    #top-pop {
      width: 455px;
      margin-left: 30px; 
      margin-bottom: 25px;
    }

    #cards-lodgings {
      display: flex;
      justify-content: space-around;
    }

    #lodgings h1 {
      text-align: center;
    }

    #link {
      font-size: 20px;
    }

    #activities-card {
      flex-wrap: wrap;
    }

    #activities h1 {
      padding-top: 5%;
      margin-bottom: 5%;
      text-align: center;
    }

    #activities {
      background-color: #F2F2F2;
      border-radius: 25px;
    }

    #contain1 {
      width: 35%!important;
    }

  }


  /* Maquette pour téléphone portable */


@media all and (max-width: 767px)
  {

    /* Header */

    header {
      flex-direction: column;
      width: 100%;
      }

    .menu-item {
      width: 100%; 
      padding-bottom: 22px;
      border-bottom:#F2F2F2 solid 4px;
      }

    .menu-item:hover {
      border-bottom:#0065FC solid 4px;
      border-top: none;
      }

    header p {
      text-align: center;
      }

    #logo {
      width: 160px;
      height: 90px;
      margin-bottom: 20px;
      position: relative;
      left: 23px;
      padding-right: 40px;
      }

    nav a {
      font-size: 31px;
      }

        /* Barre de recherche */


    h1 + p {
      font-size: 31px;
      }

    .fa-magnifying-glass {
      background-color: #0065FC;
      font-size: 35px;
      padding: 36px;
      color: white;
      font-weight: bold;
      border-radius: 15px;
      position: relative;
      right: 30px;
      visibility: visible;
    }

    .fa-location-dot {
      padding:  32px 50px 34px 35px;
      font-size: 40px;
    }

    #research {
      display: none;
    }

    input {
      width: 485px;
      height: 100px;
    }

    #search-bar {
      margin-top: 60px;
    }

    section input {
      font-size: 40px;
      font-family: Raleway-Bold;
    }

      /* filtres */


    #filters {
      flex-wrap: wrap;
      font-size: 30px;
    }

    #filters .fa-solid {
      font-size: 32px;
      margin-right: 15px;
      padding: 23px;
    }

    #filter-2 .fa-solid {
      padding: 25px 30px;
    }

    #filter-1, #filter-2, #filter-3, #filter-4 {
      padding: 12px 35px 12px 0px;
      width: auto;
    }

    #filters-choice {
      flex-direction: column;
    }

    #filters div {
      margin-bottom: 20px;
    }

    #info {
      font-size: 31px;
      padding-bottom: 5%;
    }

    #info p {
      padding-left: 2%;
    }

    #info i {
      font-size: 35px;
    }

    /* Cards "Les plus populaires" & "Hébergements à Marseille" */

    #mid {
      flex-direction: column-reverse;
    }

    #mid #top-pop {
      height: 1300px;
      max-width: 720px;
      border-radius: 0px;
      margin-right: 0%;
    }

    #top-pop header {
      flex-direction: row;
      padding: 5% 0 0 2%;
      font-size: 23px;
      font-family: Raleway-Semi-Bold;
    }

    #mid #lodgings {
      background-color: transparent;
    }

    #top-pop .card {
      padding: 0% 35% 20% 0%;
      height: 175px!important;
      margin-bottom: 5%!important;
      margin-left: 1%;
    }

    .card-body {
      font-size: 24px;
      width: 600px;
    }

    #top-pop img {
      height: 310px!important;
      width: 280px!important;
    }

    #top-pop .card-title {
      width: 600px!important;
      height: 50px;
    }

    #top-pop .card-price {
      height: 130px!important;
      width: 600px;
    }

    #mid h2 {
      font-size: 30px!important;
    }

    header i {
      position: relative;
      right: 25px;
      font-size: 40px!important;
    }

    #lodgings h1 {
      font-size: 40px;
      font-family: Raleway-Semi-Bold;
      margin-left: -30px;
    }

    #lodgings img {
      height: 230px!important;
      width: 680px!important;
    }

    #lodgings .card {
      position: relative;
      right: 20px;
    }

    #lodgings .card-price {
      height: 35px;
    }

    #link {
      font-size: 26px;
      font-family: Raleway-Bold;
      margin-top: 2%;
      margin-bottom: 6%;
    }

  /* Cards "Activités à Marseille" */

    #activities h1 {
      font-size: 40px;
      font-family: Raleway-Semi-Bold;
      margin-bottom: 7%;
    }

    #activities-card {
      flex-wrap: wrap;
    }

    .xl, #small, #large, #medium1, #medium2 {
      height: 370px;
    }

    .xl img,#small img, #large img, #medium1 img, #medium2 img {
      width: 680px!important;
      height: 250px!important;
    }

    .xl, #small, #medium2 {
      margin-bottom: 9%;
    }

    footer {
      display: flex;
      flex-direction: column;
      font-size: 30px;
    }

    #contain2, #contain3 {
      margin-bottom: 2%;
      margin-left: 30px;
      width: 400px;
    }

    footer .title {
      font-size: 35px;
      width: 400px;
      padding-bottom: 30px;
    }

    footer p {
      width: 500px;
      }
    }

    /* Étape 6 : Réalisez la “card” présente dans
“Hébergements à Marseille” */


#lodgings img {
  width: 350px;
  height: 130px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  object-fit: cover;
  display: block;
  margin: 0px auto;
  padding-top: 1%;
}

#lodgings .card {
  box-shadow: 0px 5px 20px #999;
  background-color: white;
  border-radius: 25px;
  padding: 0.2% 0.5%;
}

#mid .card-body {
  padding: 15px 20px;
}

.card-title {
  height: 8px;
  position: relative;
  bottom: 15px;
}

.card-price {
  height: 25px;
  
  position: relative;
  bottom: 5px;
}

#mid a {
  color: black; 
  text-decoration: none;
}

#mid a:hover {
  color: #0065FC;
}

.card:hover {
  outline: 2px solid;
  outline-color :#0065FC;
}

#mid h2 {
  font-size: 18px;
}

.card-price span {
  font-weight: bolder;
}

.card-rating {
  display: flex;
}

.blue-stars {
  color: #0065FC;
}

.grey-stars {
  color: #F2F2F2;
}

/* Étape 7 : Réalisez la “card” présente dans “Les plus
populaires” */


#top-pop img {
  width: 170px;
  height: 175px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  object-fit: cover;
}

#top-pop .card {
  width: 450px;
  box-shadow: 0px 5px 20px #999;
  background-color: white;
  border-radius: 25px;
}

#top-pop .card-picture {
  padding: 1%;
  float: left;
  margin-right: 6%;
}

#top-pop .card-title {
  width: 350px;
  margin-bottom: 8%;
}

#top-pop .card-price {
  height: 80px;
}

/* Étape 8 : Gérez l’affichage des conteneurs
“Hébergements à Marseille” et “Les plus populaires” */

#mid section {
  border-radius: 25px;
  margin-top: 2%;
}

#mid {
  display: flex;
}

#lodgings {
  margin-left: 30px;
  margin-right: 2%;
  background-color: #F2F2F2;
  padding: 1%;
}

#top-pop {
  padding: 2%;
  background-color: #F2F2F2;
  height: 730px;
  margin-right: 3%;
}

#top-pop .card {
  margin-bottom: 8%;
}

#lodgings .card {
  margin: 2% 1.5% 2% 1.5%;
}

#cards-lodgings {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#mid header {
  display: flex;
  align-items: center;
  height: 40px;
  margin-bottom: 9%;
}

#lodgings h1 {
  padding-left: 3%;
}

#link {
  padding-left: 3%;
  padding-top: 5%;
  font-family: Raleway-Semi-Bold;
}

header i {
  font-size: 25px;
}

/* Étape 9 : Intégrez le conteneur “Activités à Marseille” */

#activities {
  margin: 3% 2% 0% 30px;
  padding-bottom: 2%;
}

#activities-card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.xl, #small, #large, #medium1, #medium2 { 
  box-shadow: 0px 5px 20px #999;
  background-color: white;
  border-radius: 25px;
}

#activities img {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 400px;
}

.xl img {
  height: 579px;
  object-fit: cover;
}

#large img {
  height: 303px;
  object-fit: cover;
}

#large {
  margin-bottom: 10%;
}

#small img {
  height: 182px;
  object-fit: cover;
}

#medium1 img, #medium2 img {
  height: 232.5px;
}

#medium1 {
  margin-bottom: 15%;
}

#activities a {
  text-decoration: none;
  color: black;
  font-size: 14px;
}

#activities h2 {
  font-family: Raleway-Semi-Bold;
  position: relative;
  top: 0px;
}

#activities .card-title {
  height: 10px;
}

.xl:hover, #small:hover, #large:hover, #medium1:hover, #medium2:hover {
  outline: 2px solid;
  outline-color :#0065FC;
}

#activities a:hover{
  color: #0065FC;
}

.xl, #second-column, #fourth-column {
  margin: 1% 1.5% 2% 1.5%;
}

#activities .card-body {
  padding: 12px 20px;
}

/* Étape 10 : Implémenter le footer */

footer  {
  background-color: #F2F2F2;
  display: flex;
  margin-top: 2%;
  padding-top: 2%;
}

#contain1 {
  margin-left: 30px;
  width: 32%;
  margin-bottom: 2%;
}

#contain2 {
  width: 32%;
}

footer a {
  text-decoration: none;
  color: black;
}

footer a:hover {
  color: #0065FC;
}

.title {
  font-weight: bold;
  font-size: 17px;
  height: 30px;
}


