.box {
    box-sizing: border-box; /* Opera/IE 8+ */
    -moz-box-sizing: border-box; /* Firefox, autres Gecko */
    -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
 }

 html {
  height: 100%;
 }

 body {
  max-height: 100%;
 }

 @font-face {
    font-family: "Raleway";
    src: url(Raleway-Regular.ttf);
 }

 @font-face {
    font-family: "Raleway-bold";
    src: url(Raleway-Bold.ttf);
 }

 @font-face {
    font-family: "Raleway-semi-bold";
    src: url(Raleway-SemiBold.ttf);
 }


 /* header */


 section, nav, footer{
    font-family: "Raleway";
 }

 header {
   justify-content: space-between;
   display: flex;
 }

 nav {
   display: flex;
 }

 nav a {
   font-size: 25px;
   text-decoration: none;
   color: black;
 }

 nav a:hover{
  color: #0065FC ;
 }

 .menu-item:hover {
   border-top:#0065FC solid 4px;
   
 }

 .menu-item {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 230px; 
 }

 #logo {
  padding-left: 40px;
}


 /* Barre de recherche */

#first-third h1 {
  font-size: 27px;
}

#search-bar {
  display: flex;
  align-items: center;
}

form {
  border: #F2F2F2 solid 1px;
}

input {
  height: 50px;
  border: #F2F2F2 solid 1px;
  text-indent: 20px;
  width: 230px;
  height: 60px;
}

input:focus {
  outline: none;
}

.fa-location-dot {
  background-color: #F2F2F2;
  color: black;
  font-size: 25px;
  padding: 20px 25px 21px 20px;
  width: 12px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.fa-magnifying-glass {
  visibility: hidden;
}

#research {
  background-color: #0065FC;
  padding: 22px;
  color: white;
  font-weight: bold;
  border-bottom-right-radius: 16px;
  border-top-right-radius: 16px;
  width: 110px;
  text-align: center;
  font-size: larger;
  position: relative;
  right: 5px;
}

section input {
  font-size: 20px;
  font-family: Raleway-Bold;
}


/* Filtres */


#filters-choice {
  display: flex;
  margin-top: 15px;
}

#filters {
  display: flex;
  align-items: center;
  font-family: Raleway-Bold;
  flex-wrap: wrap;
}

#filter-1, #filter-2, #filter-3, #filter-4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: #F2F2F2 3px solid;
  border-radius: 50px;
  padding-right: 10px;
  height: 50px;
  border-left-style: none;
  margin-right: 20px;
}

#filters .fa-solid {
  margin-right: 15px;
}

#filter-2 .fa-solid {
  padding: 20px 23px;
}

#filters-choice i {
  background-color: #DEEBFF;
  color: #0065FC;
  padding: 18px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  font-size: 20px;
}

#filters-choice h2 {
  margin-right: 30px;
}

#filters div:hover {
  color: white;
  background-color: #0065FC;
}

.fa-circle-info {
  color:white;
  background-color: #0065FC;
  border: #F2F2F2 3px solid;
  border-radius: 60px;
  font-size: 20px;
  margin-right: 10px;
}

#info {
  display: flex;
  align-items: baseline;
}

#first-third {
  margin-left: 20px;
}

/* Étape 6 : Réalisez la “card” présente dans
“Hébergements à Marseille” */


#lodgings img {
  width: 370px;
  height: 150px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  object-fit: cover;
  display: block;
  padding: 6px;
}

#lodgings .card {
  box-shadow: 0px 2px 20px #c1bfbf;
  background-color: white;
  border-radius: 25px;
}

#mid .card-body {
  padding: 0px 15px;
  height: 100px;
}

.card-price {
  height: 25px;
  position: relative;
  bottom: 5px;
}

#mid a:hover {
  color: #0065FC;
}

#lodgings a {
  color: black; 
  text-decoration: none;
}

.card:hover {
  outline: 2px solid;
  outline-color :#0065FC;
}

#top-pop h2 {
  font-size: 18px;
  width: 195px;
}

#lodgings h2 {
  font-size: 18px;
  width: 210px;
}

.card-price span {
  font-weight: bolder;
}

.card-rating {
  display: flex;
}

.blue-stars {
  color: #0065FC;
}

.grey-stars {
  color: #F2F2F2;
}

/* Étape 7 : Réalisez la “card” présente dans “Les plus
populaires” */


#top-pop img {
  width: 170px;
  height: calc(100% - 10px);
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  object-fit: cover;
  margin: 5px 0 5px 5px;
}

#top-pop .card {
  width: 450px;
  box-shadow: 0px 2px 22px #c5c2c2;
  background-color: white;
  border-radius: 25px;
  height: 190px;
  margin-bottom: 20px;
}

#top-pop .card-picture {
  overflow: hidden;
  height: 190px;
  width: 165px;
  flex-grow: 0;
  flex-shrink: 0;
}

#mid a.popular-link {
  display: flex;
  color: black; 
  text-decoration: none;
}

#top-pop a:hover {
  color: #0065FC;
}

#top-pop .card-price {
  height: 80px;
}

#cards-top-pop {
  padding: 0px 20px;
}

/* Étape 8 : Gérez l’affichage des conteneurs
“Hébergements à Marseille” et “Les plus populaires” */

#mid section {
  border-radius: 25px;
  margin-top: 20px;
  margin-right: 20px;
  padding-bottom: 30px;
}

#mid {
  display: flex;
}

#lodgings {
  margin-left: 20px;
  margin-right: 15px;
  background-color: #F2F2F2;
}

#top-pop {
  background-color: #F2F2F2;
}

#lodgings .card {
  margin: 10px 30px 25px 30px;
}

#cards-lodgings {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#mid header {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

#lodgings h1 {
  padding-left: 30px;
}

#link {
  padding: 18px 0 20px 30px;
  font-family: Raleway-Semi-Bold;
}

header i {
  font-size: 25px;
  position: relative;
  right: 15px;
}

/* Étape 9 : Intégrez le conteneur “Activités à Marseille” */

#activities {
  margin: 10px;
}

#activities-card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.xl, #small, #large, #medium1, #medium2 { 
  box-shadow: 0px 2px 20px #c3c1c1;
  background-color: white;
  border-radius: 25px;
}

#activities img {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 400px;
}

.xl img {
  height: 579px;
  object-fit: cover;
}

#large img {
  height: 303px;
  object-fit: cover;
}

#large {
  margin-bottom: 10%;
}

#small img {
  height: 182px;
  object-fit: cover;
}

#medium1 img, #medium2 img {
  height: 232.5px;
}

#medium1 {
  margin-bottom: 15%;
}

#activities a {
  text-decoration: none;
  color: black;
  font-size: 14px;
}

#activities h1 {
  margin-left: 30px;
}

#activities h2 {
  font-family: Raleway-Semi-Bold;
  position: relative;
  bottom: 15px;
}

#activities .card-title {
  height: 10px;
}

.xl:hover, #small:hover, #large:hover, #medium1:hover, #medium2:hover {
  outline: 2px solid;
  outline-color :#0065FC;
}

#activities a:hover{
  color: #0065FC;
}

.xl, #second-column, #fourth-column {
  margin: 1% 1.5% 2% 1.5%;
}

#activities .card-body {
  padding: 12px 20px;
}

/* Étape 10 : Implémenter le footer */

footer  {
  background-color: #F2F2F2;
  display: flex;
  margin-top: 20px;
  padding-top: 10px;
}

#contain1 {
  margin-left: 30px;
  width: 32%;
}

#contain2 {
  width: 32%;
}

footer a {
  text-decoration: none;
  color: black;
}

footer a:hover {
  color: #0065FC;
}

.title {
  font-weight: bold;
  font-size: 17px;
  height: 30px;
}



/* Maquette pour tablette */

@media all and (min-width: 768px) and (max-width: 992px){
       
  h1 + p {
    font-size: 20px;
  }

  section input {
    font-size: 25px;
    font-family: Raleway-Bold;
  }

  #filters-choice {
    flex-direction: column;
  }

  #filters {
    flex-wrap: wrap;
    font-size: 20px;
  }

  #filters .fa-solid {
    margin-right: 15px;
  }

  #filter-2 {
    margin-right: 60px;
  }

  #filter-4 {
    margin-top: 20px;
    margin-bottom: 20px;
    width: auto;
  }

  #info {
    font-size: 22px;
    }

  #mid {
    flex-direction: column;
  }

  #top-pop {
    width: 490px;
    margin-left: 20px;
    margin-bottom: 50px;
  }

  #cards-lodgings {
    display: flex;
    justify-content: space-around;
  }

  #lodgings h1 {
    text-align: center;
  }

  #link {
    font-size: 20px;
  }

  #activities-card {
    flex-wrap: wrap;
    padding-bottom: 30px;
    margin-bottom: 40px;
  }

  #activities h1 {
    padding-top: 10px;
    margin-bottom: 30px;
    text-align: center;
  }

  #activities {
    background-color: #F2F2F2;
    border-radius: 25px;
  }

  #contain1 {
    width: 35%!important;
  }

}


/* Maquette pour téléphone portable */


@media all and (max-width: 767px) {

  /* Header */

  header {
    flex-direction: column;
    }

  .menu-item {
    width: 100%; 
    padding-bottom: 22px;
    border-bottom:#F2F2F2 solid 4px;
    }

  .menu-item:hover {
    border-bottom:#0065FC solid 4px;
    border-top: none;
    }

  header p {
    text-align: center;
    }

  #logo {
    width: 160px;
    height: 90px;
    margin-bottom: 20px;
    position: relative;
    left: 23px;
    padding-right: 40px;
    }

  nav a {
    font-size: 23px;
    }

      /* Barre de recherche */


  h1 + p {
    font-size: 17px;
    }

  .fa-magnifying-glass {
    background-color: #0065FC;
    font-size: 21px;
    padding: 28px 25px 28px 25px;
    color: white;
    font-weight: bold;
    border-radius: 23px;
    position: relative;
    right: 30px;
    visibility: visible;
  }

  .fa-location-dot {
    padding: 25px 25px 24px 20px;
    font-size: 27px;
  }

  #research {
    display: none;
  }

  input {
    height: 70px;
  }

  #search-bar {
    margin-top: 50px;
  }

  section input {
    font-size: 20px;
    font-family: Raleway-Bold;
  }

    /* filtres */


  #filters {
    flex-wrap: wrap;
    font-size: 18px;
  }

  #filters .fa-solid {
    font-size: 29px;
    margin-right: 15px;
    padding: 19px;
  }

  #filter-2 .fa-solid {
    padding: 19px 24px;
  }

  #filter-1, #filter-2, #filter-3, #filter-4 {
    padding: 12px 35px 12px 0px;
    width: auto;
    height: 35px;
  }

  #filters-choice {
    flex-direction: column;
  }

  #filters div {
    margin-bottom: 20px;
  }

  #info {
    font-size: 20px;
    padding-bottom: 50px;
  }

  #info p {
    padding-left: 6px;
  }

  #info i {
    font-size: 20px;
  }

  /* Cards "Les plus populaires" & "Hébergements à Marseille" */

  #mid {
    flex-direction: column-reverse;
  }

  #mid #top-pop {
    border-radius: 0px;
    margin-right: 0px;
  }

  #top-pop h1 {
    font-size: 26px;
    font-family: Raleway-Semi-Bold;
    text-align: center;
  }

  #top-pop header {
    flex-direction: row;
    font-family: Raleway-Semi-Bold;
  }

  #mid #lodgings {
    background-color: transparent;
    margin-left: 10px;
  }

  #top-pop .card {
    width: 100%;
    padding-right: 60px;
  }

  #cards-top-pop {
    margin-left: 10px;
    margin-right: 60px;
  }

  .card-body {
    font-size: 17px;
  }

  header i {
    position: relative;
    right: 30px;
    font-size: 25px!important;
  }

  #lodgings h1 {
    font-size: 26px;
    font-family: Raleway-Semi-Bold;
  }

  #lodgings .card-price {
    height: 35px;
  }

  #link {
    font-size: 16px;
    font-family: Raleway-Bold;
    margin-top: 5px;
    margin-bottom: 20px;
  }

  body {
    max-width: 767px;
    width : 100%;
  }

  /* Cards "Activités à Marseille" */

  #activities h1 {
    font-size: 25px;
    font-family: Raleway-Semi-Bold;
    margin-bottom: 25px;
  }
  #activities h2 {
    font-size: 20px;
  }

  #activities-card {
    flex-wrap: wrap;
  }

  .xl img,#small img, #large img, #medium1 img, #medium2 img {
    height: 140px!important;
    overflow:hidden;
  }

  .xl, #small, #medium2 {
    margin-bottom: 30px;
  }

  /* Footer */

  footer {
    display: flex;
    flex-direction: column;
    font-size: 18px;
  }

  #contain2, #contain3 {
    margin-left: 30px;
  }

  footer .title {
    font-size: 21px;
    padding-bottom: 15px;
  }

  footer p {
    width: 255px;
  }
}


@media all and (max-width: 404px){
  #lodgings img {
    width: 270px;
  }

  #top-pop .card-body {
    width: 120px!important;
    font-size: 15px;
  }

  #top-pop {
    min-width: 340px;
  }

  #top-pop h2 {
    width: 120px!important;
    font-size: 16px;
  }

  input {
    width: 200px!important;
    height: 50px;
  }

  .fa-magnifying-glass {
    font-size: 16px;
    padding: 20px 20px 20px 20px;
  }

  .fa-location-dot {
    padding: 19px 18px 17px 18px;
    font-size: 20px;
  }

  section input {
    font-size: 16px;
  }

  #activities img {
    width: 333px!important;
    height: 140px!important;
    overflow: hidden;
  }

  #activities h2 {
    font-size: 18px;
  }

  footer {
    font-size: 17px;
  }

  footer .title {
    font-size: 18px;
  }

  #first-third h1 {
    font-size: 22px;
  }

  nav a {
    font-size: 21px;
  }

  #info {
    font-size: 16px;
  }

  #filters {
    font-size: 16px;
  }
}